<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<title>My Account</title>
</head>

<body class="container">
	<h1>Catbox</h1>
	<div id="accountInfo" class="container">
		<h2>My Account</h2>
		<p id="username"></p>
		<p id="firstName"></p>
		<p id="lastName"></p>
		<p id="email"></p>
	</div>

	<div id="buttons" class="container">
		<button id="btn-signup" type="submit" class="btn btn-info">Edit</button>
	</div>
</body>

</html>