<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<title>Games</title>
</head>

<body class="container">
	<h1>CatBox</h1>

	<div id="gameForm" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-body">
				<form id="form" class="form-horizontal" role="form" action="/create" method="post">
					<div class="form-group">
						<label for="gameName" class="col-md-3 control-label">Name</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="gameName" placeholder="Game Name">
						</div>
					</div>

					<div class="form-group">
						<label for="gameType" class="col-md-3 control-label">Type</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="gameType" placeholder="Game Type">
						</div>
					</div>
					<div class="form-group">
						<label for="studioName" class="col-md-3 control-label">Studio</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="studioName" placeholder="Studio Name">
						</div>
					</div>

					<div class="form-group">
						<label for="gameDes" class="col-md-3 control-label">Description</label>
						<div class="col-md-9">
							<input type="text" class="form-control" name="gameDes" placeholder="Game Description">
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-1 col-md-12">
							<button id="btn-gamesSubmit" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<button id="btn-showAllGames" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Show All Games</button>
	</div>

	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Studio</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody id="resultsTable">
			</tbody>
		</table>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/js/games.js"></script>
</body>

</html>